.App {
  text-align: center;
}


.alto {
  background-color: #EB1A0E;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}

.baixo {
  background-color: #0F2ABF;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}

.medio {
  background-color: #FFCB05;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}

#dig {
  display: flex;
  height: 30rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-top: 0.5rem;
}

#dig img {
  width: 90%;
}

#dig button {
  background-color: #038C65;
  width: 10rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 10px;
  color: white;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

.title {
  display: flex;
  color: white;
  text-align: center;
  background-color: #038C65;
  padding: 5px;
  border-radius: 20px;

}

form {
  display: flex;
  width: 90%;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: #038C65;
  padding: 0;
  border-radius: 20px;
  margin-top: 1rem;

}

form label {
  color: white;
  margin: 0 1rem 0 1rem;

}

form select {
  margin: 0 1rem 0 1rem;
  height: 1.5rem;
}

form button {
  width: 100%;
  margin-top: 1rem;
  background-color: #4174D9;
  color: white;
  height: 3rem;
  font-size: larger;
  border: none;
  border-radius: 0 0 20px 20px;
  position: relative;


}

form select option {
  background-color: #038C65;
}